<h1>受信トレイ</h1>
<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<p><%= link_to "新規メール作成", new_mail_path %></p>
<% if @messages.empty? %>
  <p>受信トレイにメールがありません。</p>
<% else %>
  <table border="1">
    <thead>
      <tr>
        <th>送信元</th>
        <th>件名</th>
        <th>日付</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message[:from] %></td>
          <td><%= message[:subject] %></td>
          <td><%= message[:date] %></td>
          <td>
            <% if message[:id] %>
              <%= link_to "表示", show_mail_path(id: message[:id]) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p><%= link_to "受信トレイに戻る", home_path %></p>
<h2>----------------------------</h2>
<p><%= link_to "ログアウト", root_path %></p>

